*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
    .col-6{
        width: 100%;
    }
    .project-title h5{
        font-size: 100%;
    }
  }